@import url(https://fonts.googleapis.com/css?family=Baumans);
body, html {
    margin: 0;
    padding: 0
}

.block, .item_wrap {
    display: flex
}

.block, .btn-reg:active, .switch, header {
    position: relative
}

.slider, .slider:before {
    -webkit-transition: .4s
}

.btn-reg, header a {
    text-decoration: none
}

.submit-button, header input[type=submit] {
    font-weight: 700
}

.App, body, h1, html {
    text-align: center
}

button:focus, input {
    outline: 0
}

.btn, .btn-reg, .list-li:hover, .slider, .submit, .submit-button, .toggle-button, button {
    cursor: pointer
}

.modal-overlay, .slider {
    left: 0;
    right: 0;
    bottom: 0;
    top: 0
}

.App {
    font-family: sans-serif
}

.slider:before {
    content: ''
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px)
}

.drawHistory {
    margin-left: 10px;
    width: 56%
}

.mg-10 {
    margin: 10px
}

.select-form {
    width: 100px;
    height: 100px
}

.list-wrap {
    width: 200px
}

.item_wrap {
    justify-content: space-between
}

.input-save {
    height: 36px;
    vertical-align: middle
}

.btn-reg {
    box-shadow: inset 0 1px 0 0 #dcecfb;
    background: #d5eaff linear-gradient(to bottom, #ddf2fc 5%, rgba(179, 214, 255, .65) 100%);
    border-radius: 6px;
    border: 1px solid #84bbf3;
    display: inline-block;
    color: #000;
    font-family: Arial, serif;
    font-size: 28px;
    padding: 2px 10px;
    text-shadow: 0 1px 0 #9fc7f3
}

.btn-reg:hover {
    background: #80b5ea linear-gradient(to bottom, #dbeeff 5%, #d1e8fd 100%);
}

.btn-reg:active {
    background: linear-gradient(to bottom, #fceadd 5%, rgba(255, 184, 141, .94) 100%)
}

.btn-pushed {
    background: linear-gradient(to bottom, #fceadd 5%, rgba(226, 91, 255, .94) 100%)
}

.warn {
    background: linear-gradient(to bottom, #fcdde3 5%, rgba(245, 130, 140, .65) 100%);
    border: 1px solid #ef6565
}

.warn:hover {
    background: #ea80aa linear-gradient(to bottom, #f39292 5%, rgba(236, 104, 104, .9) 100%);
}

.img-icon-btn {
    height: 24px
}

.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 5px
}

.mg-0-a {
    margin: 5px auto
}

.child-grow {
    flex-grow: 1
}

.list-ul {
    list-style-type: none;
    padding: 0
}

.wrap-app {
    display: flex;
    justify-content: flex-start
}

#capture {
    top: 50%;
    margin: auto
}

header {
    height: 50px;
    background: #2c3e50;
    margin-bottom: 10px
}

h1 {
    left: .5em;
    font-family: Baumans, serif
}

.switch {
    display: inline-block;
    width: 60px;
    height: 34px
}

.auth-form, .header, .header div, .modal-overlay, .pl3 {
    display: flex
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0
}

.slider {
    position: absolute;
    background-color: #ccc;
    transition: .4s
}

.slider:before {
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    transition: .4s
}

input:checked + .slider {
    background-color: #185ee0
}

input:focus + .slider {
    box-shadow: 0 0 1px #185ee0
}

.list-li {
    background: #f1fdff;
    border: 1px solid #abcdbd;
    padding: 4px 5px;
    margin: 5px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    transition: .3s cubic-bezier(.25, .8, .25, 1)
}

.list-li:hover {
    background: rgba(210, 237, 245, .44);
    box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 5px 5px rgba(0, 0, 0, .22)
}

.list-li:active {
    background: #e6f8ff;
    border: 1px solid #06acd5
}

.btn {
    color: #000;
    background-color: rgba(239, 115, 115, .87);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    transition: background .3s
}

.btn:hover {
    background-color: rgba(215, 95, 95, .95)
}

.btn:active {
    background-color: rgba(195, 75, 75, .95)
}

.input-save {
    width: 100%;
    padding: 5px;
    margin-right: 5px;
    background: #d7e5fa;
    border: 1px solid #80b5ea;
    color: #000;
    border-radius: 5px
}

header form {
    right: 1em;
    top: .6em
}

header input {
    padding: 5px;
    width: 100px;
    color: #000
}

header input:focus {
    background: #6b848d;
    color: #fff
}

input[type=email]:focus::placeholder, input[type=password]:focus::placeholder, input[type=text]:focus::placeholder {
    color: #b2f8f2;
    opacity: 1
}

@media screen and (max-width: 550px) {
    header form {
        display: none
    }
}

.draw-history-wrap {
    display: flex;
    width: 450px
}

input[type=color] {
    -webkit-appearance: none;
    border: none;
    width: 32px;
    height: 32px
}

input[type=color]::-webkit-color-swatch-wrapper {
    padding: 0
}

input[type=color]::-webkit-color-swatch {
    border: none
}

.range-field-size {
    width: 300px
}

:root {
    --fg: #17181c;
    --c1: #f42f25;
    --c2: #f49725;
    --c3: #255ff4;
    --c4: #9725f4;
    font-size: calc(1px + (24 - 16) * (100vw - 320px) / (1280 - 320))
}

.input-field, .user-info {
    font-size: 1rem
}

.pl3__a, .pl3__b, .pl3__c, .pl3__d {
    width: .75em;
    height: .75em;
    animation: 2s ease-in-out infinite bounce3;
    transform-origin: 50% 0
}

.pl3 {
    justify-content: space-between;
    margin: 1.5em;
    width: 6em;
    height: 6em
}

.pl3__a {
    background: var(--c1)
}

.pl3__b {
    background: var(--c2);
    animation-delay: .1s
}

.pl3__c {
    background: var(--c3);
    animation-delay: .2s
}

.pl3__d {
    background: var(--c4);
    animation-delay: .3s
}

@keyframes bounce3 {
    5%, 95%, from, to {
        transform: translateY(0) scaleY(1)
    }
    16.7% {
        transform: translateY(0) scaleY(8)
    }
    28.3%, 38.3% {
        transform: translateY(5.25em) scaleY(1)
    }
    50% {
        transform: translateY(2.625em) scaleY(4.5)
    }
    61.7%, 71.7% {
        transform: translateY(2.625em) scaleY(1)
    }
    83.3% {
        transform: translateY(0) scaleY(4.5)
    }
}

.custom-pointers .react-colorful__saturation-pointer {
    width: 16px;
    height: 16px;
    border-radius: 3px
}

.custom-pointers .react-colorful__alpha-pointer, .custom-pointers .react-colorful__hue-pointer {
    width: 16px;
    border-radius: 3px
}

.react-colorful {
    width: 400px !important
}


.modal-overlay {
    justify-content: center;
    align-items: center
}

header a {
    color: #cef0f1
}

.toggle-button {
    background: 0 0;
    color: #0175d8;
    border: none
}

.toggle-button:hover {
    text-decoration: underline
}

.header {
    justify-content: space-between;
    align-items: center;
    background-color: #2c3e50;
    color: #fff;
    padding: 10px 20px;
}


