.modal-overlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    align-items: center;
    z-index: 1000;
    padding: 20px;
    color: #414141;
}

.flip-card-container {
    perspective: 1000px;
}

.flip-card {
    width: 400px;
    height: 500px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    margin: 100px auto;
}

.flip-card.flipped {
    transform: rotateY(180deg);
}

.flip-card-title {
    margin-bottom: 20px;
}

.flip-card-front, .flip-card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.flip-card-back {
    transform: rotateY(180deg);
}

.auth-form {
    display: flex;
    flex-direction: column;
}

.input-container {
    position: relative;
    margin: 15px 0;
}

.input-field {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    box-sizing: border-box;
    font-size: 1rem;
}

.form-label {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: none;
    color: #ccc;
    font-size: 1rem;
}

.input-field:focus ~ .form-label,
.input-field:valid ~ .form-label,
.input-field.filled ~ .form-label {
    top: 0;
    transform: translateY(-100%);
    color: #90a4ae;
    font-size: 0.9rem;
}

.label-invalid {
    color: red;
    top: 0;
    transform: translateY(-100%);
    font-size: 0.9rem;
}

.submit-button {
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    font-size: 1rem;
    background-color: #1abc9c;
    color: white;
    cursor: pointer;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-button:hover {
    background-color: #16a085;
}

.toggle-link {
    cursor: pointer;
    color: #0175d8;
    text-decoration: underline;
}

.message {
    margin-top: 10px;
    font-size: 0.875rem;
    padding: 10px;
    border-radius: 5px;
}

.message.success {
    color: #1abc9c;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
}

.message.error {
    color: #dc3545;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
}
